<footer class="page-footer pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 s12">
          <h5 class="white-text">Avanext</h5>
          <p>Banco online que está sempre trabalhando para fazer
              a conta perfeita para voce.</p>
        </div>
        <div class="col-md-4 text-center">
          <h5 class="white-text">Redes Sociais</h5>
          <ul class="row"> 
            <li>
              <a href="https://pt-br.facebook.com/Avanade/" target="_blank">
                <img src="../../../../assets/img/icon-face.png" alt="">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/avanadeinc/" target="_blank">
                <img src="../../../../assets/img/icon-instagram.png" alt="">
              </a>
            </li>
            <li>
              <a href="https://br.linkedin.com/company/avanade" target="_blank">
                <img src="../../../../assets/img/icon-linkedin.png" alt="">
              </a>  
            </li>
          </ul> 
        </div>
      </div>
    </div>
    <div class="footer-copyright pb-3">
      <div class="container"> © 2014 Copyright Text</div>
    </div>
  </footer>

