<div class="wrapper-content">
    <div class="bg_img">
        <div class="row justify-content-md-center py-5">
            <div class="col-md-4 col-sm-12">
                <div class="card p-5">
                    <form>
                        <div class="form-group">
                            <label>Nome completo</label>
                            <input class="form-control" type="text" placeholder="Nome completo" name="nome">
                        </div>
                        <div class="form-group">
                            <label for="input-email">Email pessoal</label>
                            <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                            <small id="emailHelp" class="form-text text-muted float-right">Não compartilhamos seu e-mail com terceiros</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Telefone</label>
                            <input class="form-control" type="text" placeholder="Telefone" name="telfone">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">CPF</label>
                            <input class="form-control" type="text" placeholder="CPF" name="cpf">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" name="senha">
                        </div>
                        <div class="form-group">
                            <label for="confirmarSenha">Confirme sua senha</label>
                            <input type="password" class="form-control" id="confirmarSenha" placeholder="Confirme sua senha" name="confirmarSenha">
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Criar conta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>